nav {
  list-style-type: none;
  position: fixed;
  background-color: lightblue;
padding: 10px;
  color: black;
  width: 100vw;
  top: 0;
  left: 0;
  
}

li {
  display: inline;
  padding: 8px;
}  
  
a {
  text-decoration: none;
  color: black;
}

li:hover {
  background-color: pink;
}
